{% extends "restaurant/base.html" %}

{% block title %}Confirmation - Restaurant{% endblock %}

{% block content %}
<div style="text-align: center;">
    <h2>Thank you for your order, {{ name }}!</h2>

    <img src="https://i.postimg.cc/3NG0Vh9h/happy-banana.png" style="width:300px;height:auto;" />

    <h3>Total: ${{ total }}</h3>

    <p>Phone: {{ phone }}</p>
    <p>Email: {{ email }}</p>

    <h3>Items Ordered:</h3>
    {% if items %}
    <ul>
        {% for item in items %}
        <li>{{ item }}</li>
        {% endfor %}
        <li>Total: ${{ total }}</li>
    </ul>
    {% else %}
    <p>No items selected.</p>
    {% endif %}

    <p>Special Instructions: {{ special_instructions }}</p>

</div>
{% endblock %}
