<!-- File: show_all_pictures.html
Author: Declan Young (declanyg@bu.edu), 4/1/2026
Description: Show All Pictures template for dadjokes app  -->

{% extends "dadjokes/base.html" %}

{% block title %}Show All Pictures{% endblock %}

{% block content %}

<h3>All Dad Joke Pictures</h3>

{% if picture_list %}
    <ul>
    {% for picture in picture_list %}
    <a href="{% url 'dadjokes:show_picture' picture.id %}"><li><img src="{{ picture.image_url }}" alt="Dad Joke Picture" style="max-width: 400px;"></li></a>
    {% endfor %}
    </ul>
{% else %}
    <p>No pictures available.</p>
{% endif %}

{% endblock %}