<!-- File: base.html
Author: Declan Young (declanyg@bu.edu), 23/04/2026
Description: Base template for final_project app  -->

{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <title>More Eats</title>
        <link rel="stylesheet" href="{% static 'final_project/styles_grid.css' %}">
    </head>

    <body>
        <div class="grid-container">
        <header>
            <h1>More Eats</h1>
        </header>
        
        <div class="nav-wrapper">
            <nav>
                <ul>
                    <li><a href="{% url 'final_project:index' %}">Home</a></li>
                    <li></li>
                    {% if category_list %}
                        <li><a href="#menu">Menu</a></li>
                        {% for category, items in category_list.items %}
                            <li>
                                <a href="#category-{{ category|slugify }}">
                                    {{ category }}
                                </a>
                            </li>
                        {% endfor %}
                        <li><a href="#reviews">Reviews</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <div class="aside-wrapper">
        <aside>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'final_project:show_customer' %}">{{ user.username }}</a></li>
                    {% else %}
                        <p><a href="{% url 'final_project:login' %}">Login</a></p>
                        <p><a href="{% url 'final_project:create_customer' %}">Sign Up</a></p>
                    {% endif %} <br/>
                    <li>Cart</li>
                </ul>
            </nav>
        </aside>
    </div>

    <footer>
        <p>
            Page created by declanyg@bu.edu
        </p>
        <nav>
            </li>
            <!-- {% if user.is_authenticated %}
                <li><a href="{% url 'mini_insta:show_profile' %}">Account</a></li>
                <li><a href="{% url 'mini_insta:search_results' %}">Search</a></li>
                <li><a href="{% url 'mini_insta:create_post' %}">Create Post</a></li>
                <li><a href="{% url 'mini_insta:show_feed' %}">Home Feed</a></li>
                <li><a href="{% url 'mini_insta:logout' %}">Log Out</a></li>
            {% else %}
            <li><a href="{% url 'mini_insta:show_all_profiles' %}">Home</a></li>
            {% endif %} -->
        </nav>
        
    </footer>

</body>
</html>