<!-- File: base.html
Author: Declan Young (declanyg@bu.edu), 3/05/2026
Description: Base template for mini_insta app  -->

{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <title>Mini Insta</title>
        <link rel="stylesheet" href="{% static 'mini_insta/styles_grid.css' %}">
    </head>

    <body>
        <div class="grid-container">
        <header>
            <h1>Mini Insta</h1>
        </header>
        
        <nav>
            <li><a href="{% url 'mini_insta:show_all_profiles' %}">Home</a></li> 
        </nav>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <aside>
        <p></p>
    </aside>

    <footer>
        <p>
            Page created by declanyg@bu.edu
        </p>
        <a href="{% url 'mini_insta:show_all_profiles' %}">Home</a>
    </footer>

</body>
</html>
