<!-- File: create_post_form.html
Author: Declan Young (declanyg@bu.edu), 2/19/2026
Description: Template to create a new post in mini_insta app  -->

{% extends "mini_insta/base.html" %}

{% block title %}Create Post - Mini Insta{% endblock %}

{% block content %}
<form method="post" action="{% url 'mini_insta:create_post' profile.pk %}">
    {% csrf_token %}
    <input type="text" name="caption" placeholder="Caption" required><br>
    <input type="text" name="image_url" placeholder="Image URL"><br>
    <button type="submit">Create Post</button>
    <a href="{% url 'mini_insta:show_profile' profile.pk %}" class="cancel">Cancel</a>
</form>
{% endblock %}