<!-- File: show_post.html
Author: Declan Young (declanyg@bu.edu), 2/19/2026
Description: Template to display a single post in mini_insta app  -->

{% extends "mini_insta/base.html" %}

{% block title %}Show Post - Mini Insta{% endblock %}

{% block content %}
<div>
    <h3>{{ post.profile.display_name }} (@{{ post.profile.username }})</h3>
    <p>{{ post.caption }}</p>
    <p>Posted on: {{ post.timestamp }}</p>
    {% if post.photos.exists %}
        {% for photo in post.photos.all %}
            <img
                src="{{ photo.get_image_url }}"
                alt="Post Photo"
                class="post-photo"
                draggable="false"
            >
        {% endfor %}
    {% else %}
        <img
            src="https://static.vecteezy.com/system/resources/thumbnails/004/141/669/small/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg"
            alt="No photo"
            class="post-photo"
            draggable="false">
    {% endif %}
    
    {% with post.get_likes as likes %}
        {% if likes.count > 1 %}
            <h4>
                Liked by <strong>@{{ likes.first.profile.username }}</strong>
                and <strong>{{ likes.count|add:"-1" }} others</strong> 
            </h4>

        {% elif likes.count == 1 %}
            <h4>
                Liked by <strong>@{{ likes.first.profile.username }}</strong>
            </h4>

        {% else %}
            <h4>No likes yet</h4>
        {% endif %}
    {% endwith %}

    <h4>Comments:</h4>
    <div>
        {% if post.comments.exists %}
        {% for comment in post.comments.all %}
            <div class="comment" style="border: 1px solid #ccc; padding: 8px; margin-bottom: 12px; border-radius: 2%;">
                <p><strong>{{ comment.profile.display_name }} (@{{ comment.profile.username }}):</strong> {{ comment.text }}</p>
                <p>Commented on: {{ comment.timestamp }}</p>
            </div>
        {% endfor %}
        {% else %}
            <p>No comments</p>
        {% endif %}
    </div>
    <button class="update-post-button">
        <a href="{% url 'mini_insta:update_post' post.pk %}">Update</a>
    </button>
    <button class="delete-post-button">
        <a href="{% url 'mini_insta:delete_post' post.pk %}">Delete</a>
    </button>
</div>
{% endblock %}