<!-- File: show_all_profiles.html
Author: Declan Young (declanyg@bu.edu), 3/05/2026
Description: Template to display all profiles in mini_insta app  -->

{% extends "mini_insta/base.html" %}

{% block title %}Show All Profiles - Mini Insta{% endblock %}

{% block content %}

<ul class="profile-list">
  {% for profile in profiles %}
    <li class="profile-item">
        <a href="{% url 'mini_insta:show_profile' profile.pk %}">
            <img
                src="{{ profile.profile_image_url }}"
                alt="{{ profile.username }}"
                class="profile-img"
                draggable="false"
            >
        </a>

      <div class="profile-text">
        <strong>{{ profile.display_name }}</strong>
        <span class="username">{{ profile.username }}</span>
      </div>
    </li>
  {% empty %}
    <li>No profiles found.</li>
  {% endfor %}
</ul>


{% endblock %}