<!-- File: show_profile.html
Author: Declan Young (declanyg@bu.edu), 2/05/2026
Description: Template to display a single profile in mini_insta app  -->

{% extends "mini_insta/base.html" %}

{% block title %}Show Profile - Mini Insta{% endblock %}

{% block content %}
<div class="profile-detail">
    <img
        src="{{ profile.profile_image_url }}"
        alt="{{ profile.username }}"
        class="profile-img-detail"
        draggable="false"
    >
    
    <strong>{{ profile.display_name }}</strong>
    <span class="username">{{ profile.username }}</span>
    <div class="profile-text-detail">
            <p>{{ profile.bio_text }}</p>
        <p>Join Date: {{ profile.join_date }}</p>
    </div>

    <li>
        {% for post in profile.posts.all %}
            <a href="{% url 'mini_insta:show_post' post.pk %}">
                <div class="post" style="border: 1px solid #ccc; padding: 12px;">
                <p>{{ post.caption }}</p>
                <p>Posted on: {{ post.timestamp }}</p>
                <div class="post-photos">
                    {% if post.photos.exists %}
                        <img
                            src="{{ post.photos.first.image_url }}"
                            alt="Post Photo First"
                            class="post-photo-first"
                            draggable="false"
                        >
                    {% else %}
                        <img
                            src="https://static.vecteezy.com/system/resources/thumbnails/004/141/669/small/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg"
                            alt="No photo"
                            class="post-photo"
                            draggable="false">
                    {% endif %}
                </div>
            </div>
        </a>
        {% endfor %} 
    </li>
</div>
{% endblock %}